<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>
<div class="container">
  <div class="text-uppercase text-center pt-3 pb-2 ">
    <h3 style="font-weight: bold;">Productos</h3>
  </div>
</div>


<body style="background-color: #F8F9FC;">



  <div class="text-center mt-4 ">
    <a class="btn btn-primary col-5 col-sm-3" (click)="openModal(nuevo)">Nuevo Producto</a>
  </div>





  <div *ngIf="spinner==0" class="table-responsive mt-4    container" style="height: 530 px;">


    <div class="table-responsive mt-4    container" style="height: 505px;">
      <br>
      <div class="center" style="width: 500px">
        <input *ngIf="productoObj.length > 0" class="form-control"  [(ngModel)]="busqueda" [ngModelOptions]="{standalone: true}" placeholder="Busqueda...">
      </div>
      <br>


      <table *ngIf="productoObj.length > 0" class="table table-bordered table-sm text-center">
        <thead class="bg-dark text-white ">
          <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Unidad</td>
            <td>Descripcion</td>
            <td>Opciones</td>

          </tr>
        </thead>


        <tbody>
          <tr class="text-dark webkit-scrollbar," class="text-dark">
          <tr *ngFor="let item of productoObj | filter:busqueda; let i=index;" class="text-dark webkit-scrollbar," class="text-dark">
            <td><strong>{{i+1}}</strong></td>

            <td>{{item.nombreProducto}}</td>
            <td>{{item.unidad}}</td>
            <td>{{item.descripcion}}</td>

            <td class="text-center ">
              <div class="btn-group dropdown " role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                  <button data-toggle="dropdown" id="dropdownMenuButton" type="button"
                    class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li> <a class="dropdown-item" (click)="openModal(actualizar); llenarCampos(item)">Editar</a></li>
                    <li> <a class="dropdown-item" (click)="elimiarProd(item.idProductos)">Eliminar</a></li>
                  </ul>
                </div>
              </div>



            </td>
          </tr>


        </tbody>
      </table>

      <div *ngIf="productoObj.length == 0">
        <h5 class="text-center" >No hay registros</h5>
      </div>

    </div>

  </div>


  <div *ngIf="spinner==1" class="text-center  " style="margin-top: 10em;">
    <div class="spinner-border text-primary" role="status">
    </div>
  </div>

</body>




<ng-template #nuevo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nuevo Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>Tipo Productor</p>
    <select class="form-control" [(ngModel)]="tipoProductorIdNew" (change)="filtrarCategorias($event.target.value)" [class.border-danger]="checkProductor == true">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>
      <option value={{item.idTipoProductores}} *ngFor="let item of tipoProductoresObj">
        {{item.nombre}}
      </option>
    </select>

    <br>

    <p>Categoria</p>
    <select class="form-control" [(ngModel)]="categoriaIdNew" (change)="comprobarRaza($event.target.value)" [class.border-danger]="checkCategoria == true">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>

      <ng-container *ngFor="let item of categoriaFiltradoObj">
        <option value={{item.idCategorias}} *ngIf="item.descripcion == null">
          {{item.nombre}}
        </option>
        <option value={{item.idCategorias}} *ngIf="item.descripcion != null">
          {{item.nombre}} - {{item.descripcion}}
        </option>
      </ng-container>
    </select>

    <br>

    <div *ngIf="razaCheck == true">
      <p>Razas</p>
      <select class="form-control" [(ngModel)]="descripcionNew" >
        <option value={{i}} *ngFor="let item of razas;let i=index">{{item}}</option>
      </select>
    </div>

    <br>

    <div *ngIf="razaCheck == true" >
      <p>Entrega</p>
      <select class="form-control" [(ngModel)]="entregaNew" >
        <option value={{i}} *ngFor="let item of entregas;let i=index">{{item}}</option>
      </select>
    </div>

    <br>

    <p>Nombre</p>
    <input type="text" class="form-control" [(ngModel)]="nombreNew" [class.border-danger]="checkNombre == true">
    <br>

    <p>Unidad</p>
    <input type="text" class="form-control" [(ngModel)]="unidadNew" [class.border-danger]="checkUnidad == true">
    <br>

    <div *ngIf="tallaCheck == true">
      <p>Talla</p>
      <input type="text" class="form-control" [(ngModel)]="tallaNew" [class.border-danger]="checkTalla == true">
      <br>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="guardar()">Guardar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
  </div>
</ng-template>





<ng-template #actualizar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Actualizr Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>Tipo Productor</p>
    <select class="form-control" [(ngModel)]="tipoProductorIdNew" (change)="filtrarCategorias($event.target.value); comprobarRaza()" [class.border-danger]="checkProductor == true">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>
      <option value={{item.idTipoProductores}} *ngFor="let item of tipoProductoresObj">
        {{item.nombre}}
      </option>
    </select>

    <br>

    <p>Categoria</p>
    <select class="form-control" [(ngModel)]="categoriaIdNew" (change)="comprobarRaza($event.target.value)" [class.border-danger]="checkCategoria == true">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>

      <ng-container *ngFor="let item of categoriaFiltradoObj">
        <option value={{item.idCategorias}} *ngIf="item.descripcion == null">
          {{item.nombre}}
        </option>
        <option value={{item.idCategorias}} *ngIf="item.descripcion != null">
          {{item.nombre}} - {{item.descripcion}}
        </option>
      </ng-container>
    </select>

    <br>

    <div *ngIf="razaCheck == true">
      <p>Razas</p>
      <select class="form-control" [(ngModel)]="descripcionNew" >
        <option value={{i}} *ngFor="let item of razas;let i=index">{{item}}</option>
      </select>
    </div>

    <br>

    <div *ngIf="razaCheck == true" >
      <p>Entrega</p>
      <select class="form-control" [(ngModel)]="entregaNew" >
        <option value={{i}} *ngFor="let item of entregas;let i=index">{{item}}</option>
      </select>
    </div>

    <br>

    <p>Nombre</p>
    <input type="text" class="form-control" [(ngModel)]="nombreUpdate" [class.border-danger]="checkNombre == true">
    <br>

    <p>Unidad</p>
    <input type="text" class="form-control" [(ngModel)]="unidadUpdate" [class.border-danger]="checkUnidad == true">
    <br>


    <div *ngIf="tallaCheck == true">
      <p>Talla</p>
      <input type="text" class="form-control" [(ngModel)]="tallaUpdate" [class.border-danger]="checkTalla == true">
      <br>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="actualizarProd()">Guardar
      Cambios</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
  </div>
</ng-template>




</html>
