



	<div class="wrapper">


		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand text-center" href="index.html">
					<span class="align-middle"><img src="../../../assets/img/logo-completo.png" width="90"
							alt="MOCHA"></span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Administracion
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" [routerLink]="['listarUsuario']">
							<i class="align-middle" data-feather="users"></i> <span
								class="align-middle">Usuarios</span>
						</a>
					</li>



					<li class="sidebar-header">
						Productos
					</li>

					
				
					<li class="sidebar-item">
						<a class="sidebar-link" [routerLink]="['productos']">
							<i class="align-middle" data-feather="check-square"></i> <span
								class="align-middle">Nuevo Producto</span>
						</a>
					</li>


				

					<li class="sidebar-header">
						Productores
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link"  [routerLink]="['listarProveedor']">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Nuevo Productor</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" [routerLink]="['listarDetalle']">
							<i class="align-middle" data-feather="user-plus"></i> <span
								class="align-middle">Asignar Producto</span>
						</a>
					</li>


					
			
			

				


				</ul>


			</div>
		</nav>


		<div class="main">


			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">


						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
								data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
								data-bs-toggle="dropdown">
								<img src="../../../assets/img/nuevo_user.png" class="avatar img-fluid rounded me-1"
									alt="Charles Hall" /> <span class="text-dark">{{this.sesion[0].usuario}}</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="pages-profile.html">
									<i class="align-middle me-1" data-feather="user"></i> Perfil</a>

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="align-middle me-1"
									 (click)="salir()"	data-feather="log-out"></i>Salir</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>


			<main class="content">

				
					
				


						<router-outlet></router-outlet>

				

			

			</main>

			<footer class="footer bg-white shadow">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="http://www.municipiomocha.gob.ec/gadmocha/"
									target="_blank"><strong style="font-size: 0.60rem;">
										<span class="text-mocha1">GAD</span>
										<span class="text-mocha2">MOCHA</span>
										<span class="text-mocha3">2021</span>
									</strong></a> &copy;
							</p>
						</div>
					</div>
				</div>
			</footer>




		</div>
	</div>







