<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width" />
</head>




<div class="table-responsive mt-4 container" style="height: 40rem; overflow-x: hidden; overflow-y:unset;">
    <form [formGroup]="proved" (ngSubmit)="guardar(this.proved.value)">
        <div class="card me-auto ms-auto col col-sm"
            style="width: 30rem; margin-top: 2em; margin-bottom: 2em; margin-left:em; ">
            <div class="card-header">
                <div class="text-center">
                    <h3>Datos Generales</h3>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Cedula</label>
                        <input maxlength="10" formControlName="cedula" type="text" class="form-control mb-2"
                            [class.border-danger]="proved.get('cedula')!.touched && proved.get('cedula')?.invalid"
                            [class.border-success]="proved.get('cedula')!.touched && proved.get('cedula')?.valid">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Nombres</label>
                        <input formControlName="nombres" type="text" class="form-control mb-2"
                            [class.border-danger]="proved.get('nombres')!.touched && proved.get('nombres')?.invalid"
                            [class.border-success]="proved.get('nombres')!.touched && proved.get('nombres')?.valid">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Apellidos</label>
                        <input formControlName="apellidos" type="text" class="form-control"
                            [class.border-danger]="proved.get('apellidos')!.touched && proved.get('apellidos')?.invalid"
                            [class.border-success]="proved.get('apellidos')!.touched && proved.get('apellidos')?.valid">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Direccion</label>
                        <input maxlength="200" formControlName="direccion" type="text" class="form-control"
                            [class.border-danger]="proved.get('direccion')!.touched && proved.get('direccion')?.invalid"
                            [class.border-success]="proved.get('direccion')!.touched && proved.get('direccion')?.valid">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Telefono</label>
                        <input formControlName="telefono" type="number" class="form-control"
                            [class.border-danger]="proved.get('telefono')!.touched && proved.get('telefono')?.invalid"
                            [class.border-success]="proved.get('telefono')!.touched && proved.get('telefono')?.valid">

                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Correo</label>
                        <input maxlength="100" formControlName="correo" type="text" class="form-control"
                            [class.border-info]="proved.get('correo')!.touched && proved.get('correo')?.invalid"
                            [class.border-info]="proved.get('correo')!.touched && proved.get('correo')?.valid">

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Edad</label>
                        <input formControlName="edad" type="number" class="form-control"
                            [class.border-danger]="proved.get('edad')!.touched && proved.get('edad')?.invalid"
                            [class.border-success]="proved.get('edad')!.touched && proved.get('edad')?.valid">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Sexo</label>
                        <select class="form-select" aria-label="Default select example" formControlName='sexo'
                            [class.border-danger]="proved.get('sexo')!.touched && proved.get('sexo')?.invalid"
                            [class.border-success]="proved.get('sexo')!.touched && proved.get('sexo')?.valid">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Cargo</label>
                        <select class="form-control" aria-label="Default select example"
                            formControlName='idTipoProductores'
                            [class.border-danger]="proved.get('idTipoProductores')!.touched && proved.get('idTipoProductores')?.invalid"
                            [class.border-success]="proved.get('idTipoProductores')!.touched && proved.get('idTipoProductores')?.valid">
                            <option value={{dato.idTipoProductores}} *ngFor="let dato of listaTipo">{{dato.nombre}}
                            </option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Web</label>
                        <input maxlength="250" formControlName="paginaWeb" type="text" class="form-control"
                            [class.border-danger]="proved.get('paginaWeb')!.touched && proved.get('paginaWeb')?.invalid"
                            [class.border-success]="proved.get('paginaWeb')!.touched && proved.get('paginaWeb')?.valid">
                    </div>
                </div>
            </div>
        </div>

        <div class="card me-auto ms-auto col col-sm"
            style="width: 30rem; margin-top: 2em; margin-bottom: 2em; margin-left:em; ">
            <div class="card-header">
                <div class="text-center">
                    <h3>Geolocalización</h3>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Latitud</label>
                        <input id="latitud" name="latitud" formControlName="latitud" type="text"
                            class="form-control mb-2" [ngModel]="this.lat" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Longitud</label>
                        <input id="longitud" name="longitud" formControlName="longitud" type="text"
                            class="form-control mb-2" [ngModel]="this.lng" readonly>
                    </div>
                </div>
                <div id="mapa-mapbox" style="width: auto; height: 500px;">

                </div>
            </div>
        </div>

        <div class="card me-auto ms-auto col col-sm"
            style="width: 30rem; margin-top: 2em; margin-bottom: 2em; margin-left:em; ">
            <div class="card-header">
                <div class="text-center">
                    <h3>Especificaciones</h3>
                    
                  
                </div>
            </div>

            <div class="card-body">
                <div class="row  ">
                    <div class="col">
                        <div class="form-check" style="margin-left: 27%;">
                         
                                <input type="checkbox" class="form-check-input" data-bs-toggle="collapse"
                                    href="#multiCollapseExample1" role="button" aria-expanded="false"
                                    aria-controls="multiCollapseExample1" formControlName='organizacion'><label
                                    class="form-check-label " for="exampleCheck1">Organizacion</label>
                                    <strong class="align-middle"   data-bs-toggle="collapse"  href="#multiCollapseExample1" style="cursor: pointer; font-size: 20px;">  +</strong> 
                                <div class="collapse multi-collapse " style="margin-top: 10px !important;" id="multiCollapseExample1">
                                    <label for="exampleInputEmail1"
                                        class=" text-black-50 fw-bold fst-italic ">Detalle</label>
                                    <input maxlength="500" formControlName="detalleOrganizacion" type="text"
                                        class="form-control mb-2"
                                        [class.border-info]="proved.get('detalleOrganizacion')!.touched && proved.get('detalleOrganizacion')?.invalid"
                                        [class.border-info]="proved.get('detalleOrganizacion')!.touched && proved.get('detalleOrganizacion')?.valid">
                                </div>


                        </div>
                    </div>

                    <div class="col">
                        <div class="form-check " style="margin-left:8%;">






                            <input type="checkbox" class="form-check-input" data-bs-toggle="collapse"
                                href="#multiCollapseExample2" role="button" aria-expanded="false"
                                aria-controls="multiCollapseExample1" formControlName='discapacidad'
                                [defaultValue]="false">
                            <label class="form-check-label" for="exampleCheck1">Discapacidad</label>
                            <strong class="align-middle"   data-bs-toggle="collapse"  href="#multiCollapseExample2" style="cursor: pointer; font-size: 20px;">  +</strong> 


                            <div class="col ">
                                <div class="collapse multi-collapse" style="margin-top: 10px !important;" id="multiCollapseExample2">
                                    <label for="exampleInputEmail1"
                                        class=" text-black-50 fw-bold fst-italic  ">Detalle</label>
                                    <input maxlength="500" formControlName="detalleDiscapacidad" type="text"
                                        class="form-control mb-2"
                                        [class.border-danger]="proved.get('detalleDiscapacidad')!.touched && proved.get('detalleDiscapacidad')?.invalid"
                                        [class.border-success]="proved.get('detalleDiscapacidad')!.touched && proved.get('detalleDiscapacidad')?.valid">
                                </div>

                                <div class="collapse multi-collapse " id="multiCollapseExample2">
                                    <label for="exampleInputEmail1"
                                        class=" text-black-50 fw-bold fst-italic ">Porcentaje</label>
                                    <input maxlength="500" formControlName="porcentajeDiscapacidad" type="number"
                                        class="form-control mb-2"
                                        [class.border-danger]="proved.get('detalleDiscapacidad')!.touched && proved.get('detalleDiscapacidad')?.invalid"
                                        [class.border-success]="proved.get('detalleDiscapacidad')!.touched && proved.get('detalleDiscapacidad')?.valid">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="text-center mt-3">
                    <button class="btn btn-primary mt-3 me-5 col-4  " type="submit">Guardar</button>
                    <button class="btn btn-secondary mt-3 col-4" [routerLink]="'/menu/listarProveedor'">Atras</button>
                </div>

            </div>
        </div>
    </form>
</div>

</html>