<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width" />
</head>
<div class="row">

    <div class="col">
        <form [formGroup]="proved" (ngSubmit)="guardar(this.proved.value)">
            <div class="card me-auto ms-auto col col-sm"
                style="width: 30rem; margin-top: 2em; margin-bottom: 2em; margin-left:em; ">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Nuevo</h3>
                    </div>
                </div>

                <div class="card-body me-auto ms-auto  w-75">

                    <div class="row">
                        <div class="col-12">


                            <ng-select formControlName='idProductores' bindLabel="label"
                                placeholder="--Seleccione un Productor-- "
                                [class.color]="proved.get('idProductores')!.touched && proved.get('idProductores')?.invalid"
                                [class.colorS]="proved.get('idProductores')!.touched && proved.get('idProductores   ')?.valid">


                                <ng-option *ngFor="let item of productorObj" [value]="item.idProductores">
                                    {{item.nombres}} {{item.apellidos}}
                                </ng-option>
                            </ng-select>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col mt-4">


                            <ng-select class="opcion" formControlName='idProductos' bindLabel="label"
                                placeholder="--Seleccione un Producto-- "
                                [class.color]="proved.get('idProductos')!.touched && proved.get('idProductos')?.invalid">




                                <ng-option *ngFor="let item of productosObj" [value]="item.idProductos">
                                    {{item.nombreProducto}}
                                </ng-option>
                            </ng-select>


                        </div>


                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">Cantidad</label>
                            <input [class.border-danger]="proved.get('stock')!.touched && proved.get('stock')?.invalid"
                                [class.border-success]="proved.get('stock')!.touched && proved.get('stock')?.valid"
                                maxlength="10" formControlName="stock" type="number" class="form-control mb-2">
                        </div>


                        <div class="col-6">
                            <label for="exampleInputEmail1" class=" text-black-50 fw-bold fst-italic">$
                                Unidad</label>
                            <input
                                [class.border-danger]="proved.get('precioUnidad')!.touched && proved.get('precioUnidad')?.invalid"
                                [class.border-success]="proved.get('precioUnidad')!.touched && proved.get('precioUnidad')?.valid"
                                maxlength="10" formControlName="precioUnidad" type="number" class="form-control mb-2">
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary mt-3 me-5 col-5  " type="submit">Guardar</button>
                        <button class="btn btn-secondary mt-3 col-5"
                            [routerLink]="'/menu/listarDetalle/'">Atras</button>
                    </div>
                </div>
            </div>



        </form>
    </div>

</div>

</html>