<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GADMM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>

    <div class="scrollToTop-btn"  id="scrollToTop-btn" name="scrollToTop-btn">
        <i class="fas fa-angle-up"></i>
    </div>

    <section class="main" id="main">
        <div class="content">
            <h2>El Imperio Escondido de Los Andes<br></h2>
            <div class="animated-text">
                <h3>Productores</h3>
                <h3>Los mejores productos</h3>
                <h3>Información</h3>
            </div>
            <a [routerLink]="['/login']"  class="btn">Iniciar Sesion</a>
            <div class="media-icons">
                <a href="https://www.facebook.com/GadMocha"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/gadmocha/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/gadmocha"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="title reveal">
            <h2 class="section-title">Alcalde</h2>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <div class="img-card">
                    <img src="../.././../assets/images/alcalde.jpg" alt="">
                </div>
            </div>
            <div class="column col-right reveal">
                <h2 class="content-title">Ing. Danilo Patricio Ortiz Ortiz</h2>
                <p class="paragraph-text">
                    •Ingeniero Agronomo, graduado en la UTA <br>
                    •Alcalde del Cantón Mocha <br>
                    •Administración 2019 - 2023 </p>
            </div>
        </div>
    </section>

    <section class="skills" id="skills">
        <div class="title reveal">
            <h2 class="section-title">Sobre nosotros</h2>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <h2 class="content-title">Misión</h2>
                <p>Fortalecer la institución municipal para promover procesos de eficiencia administrativa
                    que permita la atención a las necesidades de la ciudadanía de manera eficaz coherente y accesible.
                </p>
            </div>

            <div class="column col-left reveal">
                <h2 class="content-title">Visión</h2>
                <p>
                    El Gobierno Municipal de Mocha se constituirá en la mejor Institución pública de la región, basada en la honestidad,
                    eficiencia, transparencia, equidad y responsabilidad, comprometida con el desarrollo integral del cantón, garantizando
                    la calidad de vida de la población.
                </p>
            </div>

        </div>
    </section>

    <section class="services" id="services">
        <div class="title reveal">
            <h2 class="section-title">Sistema</h2>
        </div>
        <div class="content">
            <div class="card reveal">
                <div class="service-icon">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="info">
                    <h3>Productores</h3>
                    <p>600 productores pertenecientes al GAD Municipal del cantón Mocha</p>
                </div>
            </div>
            <div class="card reveal">
                <div class="service-icon">
                    <i class="fas fa-seedling"></i>
                </div>
                <div class="info">
                    <h3>Productos</h3>
                    <p>Los mejores productos de Tungurahua.</p>
                </div>
            </div>
            <div class="card reveal">
                <div class="service-icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="info">
                    <h3>Crecimiento</h3>
                    <p>Mejora en publicidad de productos.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="work" id="work">
        <div class="title reveal">
            <h2 class="section-title">Productos</h2>
        </div>
        <div class="content">
            <div class="card reveal">
                <div class="card-img">
                    <img src="../../../assets/images/productos.jpg" alt="">
                </div>
            </div>
            <div class="card reveal">
                <div class="card-img">
                    <img src="../../../assets/images/productos.jpg" alt="">
                </div>
            </div>
            <div class="card reveal">
                <div class="card-img">
                    <img src="../../../assets/images/productos.jpg" alt="">
                </div>
            </div>
            <div class="card reveal">
                <div class="card-img">
                    <img src="../../../assets/images/productos.jpg" alt="">
                </div>
            </div>
            <div class="card reveal">
                <div class="card-img">
                    <img src="../../../assets/images/productos.jpg" alt="">
                </div>
            </div>
            <div class="card reveal">
                <div class="card-img">
                    <img src="../../../assets/images/productos.jpg" alt="">
                </div>
            </div>
            <!-- <div class="title reveal">
                <a href="#" class="btn">Ver Lista de productos</a>
            </div> -->
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="title reveal">
            <h2 class="section-title">Contactos</h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="info">
                        <h3>Dirección</h3>
                        <span>Calle Alonso Ruiz 1-40 y Avenida El Rey frente al parque central.</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="info">
                        <h3>Telefono</h3>
                        <span> (03) 277-9217</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="info">
                        <h3>Correo Electrónico</h3>
                        <span>gadmMocha@email.com</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-stopwatch"></i>
                    </div>
                    <div class="info">
                        <h3>Horario</h3>
                        <span>Lunes a Viernes de 8:00 a 17:00</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <span class="footer-title">GAD Municipalidad de Mocha</span>

    </footer>

</body>

</html>